.mg-h2 {
  margin: 0.5rem 0rem;
}
.span-text {
  font-weight: 500;
  font-size: 24px;
}
.span-text-funnel {
  font-weight: 500;
  font-size: 24px;
  margin: 0.5rem 0rem;
}
.head-div {
  margin-bottom: 2rem;
}
.container-div {
  min-width: 600px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 24px;
  padding: 20px;
}
.one-third {
  width: 33.3%;
  padding: 0rem 2rem;
}
.funnel-main {
  position: relative;
  margin: auto;
  border: 1px solid grey;
  border-radius: 24px;
  padding: 2rem 0rem;
}
.clr-black {
  color: black;
}

.chart-container {
  position: relative;
  height: 300px;
  width: 100%;
}

.funnel-main::before,
.funnel-main::after {
  content: "";
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  width: 2px; /* Line thickness */
  background-color: #ccc; /* Line color */
}

.funnel-main::before {
  left: 33.3%; /* First line at 33% */
}

.funnel-main::after {
  left: 66.6%; /* Second line at 665px */
}
